/* For desktop only */

@media only screen and (min-width: 768px) {
  body {
    background-color: #F5F5F5;
    font-family: 'Roboto';
    overflow-x: hidden;
  }

  .tool-icon {
    width: 45px !important;
    height: 45px !important;
    padding: 10px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    border-radius: 7px !important;
    background-color: #1B5E20 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 2px 2px 5px rgb(50, 50, 50) !important;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
  }

  .map-drawer-content {
    background-color: white !important;
    height: 100% !important;
    width: 100% !important;
    display: block !important;
    padding-top: 9.60961vh !important;
    box-shadow: 0px 0px 20px #888888 !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .close-drawer {
    visibility: hidden !important;
    transform: translate(-20vw, 0px);
    -moz-transform: translate(-20vw, 0px);
    -webkit-transform: translate(-20vw, 0px);
  }

  .marker-icon {
    width: 45px !important;
    height: 45px !important;
    padding: 7px !important;
    border-radius: 7px !important;
    margin: 7px 0px 7px 0px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }

  .marker-icon-selected {
    width: 45px !important;
    height: 45px !important;
    padding: 7px !important;
    border-radius: 7px !important;
    margin: 7px 0px 7px 0px !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }
}

/* For mobile only */

@media only screen and (max-width: 767px) {
  body {
    font-family: 'Roboto';
  }

  .tool-icon {
    width: 25px !important;
    height: 25px !important;
    padding: 12px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 14px !important;
    background-color: #1B5E20 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 2px 2px 5px rgb(50, 50, 50) !important;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
  }

  .map-drawer-content {
    background-color: white !important;
    height: 100% !important;
    width: 100% !important;
    display: block !important;
    padding-top: 0vh !important;
    box-shadow: 0px 0px 20px #888888 !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .close-drawer {
    visibility: hidden !important;
    transform: translate(-40vw, 0px);
    -moz-transform: translate(-40vw, 0px);
    -webkit-transform: translate(-40vw, 0px);
  }

  .marker-icon {
    width: 45px !important;
    height: 45px !important;
    padding: 5px !important;
    border-radius: 10px !important;
    margin: 5px 0px 5px 0px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }

  .marker-icon-selected {
    width: 45px !important;
    height: 45px !important;
    padding: 5px !important;
    border-radius: 10px !important;
    margin: 5px 0px 5px 0px !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
  }
}

.title-desktop {
  font-size: 5.5vw !important;
  font-weight: 200 !important;
}

.create-account-title {
  font-size: 4vw !important;
  font-weight: 200 !important;
}

.create-account-subtitle {
  font-size: 2vw !important;
  font-weight: 100 !important;
}

.subtitle {
  font-size: 2.1vw !important;
  font-weight: 100 !important;
}

.button-register {
  color: white !important;
  background-color: #4caf50 !important;
  height: 45px !important;
  width: 225px !important;
  font-size: 18px !important;
  font-style: bold !important;
}

.button-register-form {
  color: white !important;
  background-color: #4caf50 !important;
  height: 40px !important;
  font-size: 18px !important;
  font-style: bold !important;
}

.button-register:hover, .mobile-button-register:hover {
  background-color: #2d8a30 !important;
}

.button-login {
  height: 45px !important;
  width: 225px !important;
  border: 1px solid #4caf50 !important;
  font-size: 18px !important;
  font-style: bold !important;
}

.button-login-form {
  height: 40px !important;
  border: 1px solid #4caf50 !important;
  font-size: 18px !important;
  font-style: bold !important;
}

.button-login:hover, .mobile-button-login:hover {
  background-color: #c7f3ca !important;
}

.membership-question {
  color: rgb(121, 120, 120) !important;
  font-size: 1vw !important;
}

.signup-link {
  color: #388E3C !important;
  text-decoration: none !important;
}

.no-farm-data-available {
  color: #9E9E9E !important;
  font-style: italic !important;
}

.faint-text {
 color: #9E9E9E !important;
}

.mobile-farm-details {
  font-weight: 400 !important;
  font-size: 1em !important;
}

/* For map related components such as map toolbox and drawers */

.tool-icon:hover {
  background-color: #388E3C !important;
}

.tool-icon-selected {
  background-color: #1B5E20 !important;
  box-shadow: 4px 4px 10px rgb(50, 50, 50) !important;
  transform: scale(0.98, 0.98);
  -moz-transform: scale(0.98, 0.8);
  -webkit-transform: scale(0.98, 0.98);
}

.marker-icon:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.map-drawer {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0px !important;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transform: translate(-250px, 0px);
  -moz-transform: translate(-250px, 0px);
  -webkit-transform: translate(-250px, 0px);
}

.open-drawer {
  visibility: visible !important;
  transform: translate(8px, 0px);
  -moz-transform: translate(8px, 0px);
  -webkit-transform: translate(8px, 0px);
}

/* For activity calendar */

.rbc-show-more {
  display: block !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  color: #1B5E20 !important;
  text-decoration: none !important;
}

/* show more button */
.link {
  cursor: pointer;
}

.label {
  font-weight: 500 !important;
  font-size: 1.1em !important;
}

.overlayComponent {
  height: 250px !important;
  position: absolute !important;
  z-index: 1 !important;
}

.circular {
  border-radius: 3px !important;
}

.hidden {
  display: none !important;
}

.shadow {
  box-shadow: 3px 3px 8px rgba(65, 65, 65, 0.5) !important;
}

.desktop-background {
  background-color: #f6f6f6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ecf5ea' d='M486%2C705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5%2C692.1%2C49%2C703%2C0%2C719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8%2C707.1%2C489.4%2C706.5%2C486%2C705.8z'/%3E%3Cpath fill='%23e3f3de' d='M1600%2C0H0v719.8c49-16.8%2C99.5-27.8%2C150.7-33.5c111.9-12.7%2C226-2.4%2C335.3%2C19.4c3.4%2C0.7%2C6.8%2C1.4%2C10.2%2C2c116.8%2C24%2C231.7%2C59%2C347.6%2C92.2H1600V0z'/%3E%3Cpath fill='%23d9f1d3' d='M478.4%2C581c3.2%2C0.8%2C6.4%2C1.7%2C9.5%2C2.5c196.2%2C52.5%2C388.7%2C133.5%2C593.5%2C176.6c174.2%2C36.6%2C349.5%2C29.2%2C518.6-10.2V0H0v574.9c52.3-17.6%2C106.5-27.7%2C161.1-30.9C268.4%2C537.4%2C375.7%2C554.2%2C478.4%2C581z'/%3E%3Cpath fill='%23cff0c7' d='M0%2C0v429.4c55.6-18.4%2C113.5-27.3%2C171.4-27.7c102.8-0.8%2C203.2%2C22.7%2C299.3%2C54.5c3%2C1%2C5.9%2C2%2C8.9%2C3c183.6%2C62%2C365.7%2C146.1%2C562.4%2C192.1c186.7%2C43.7%2C376.3%2C34.4%2C557.9-12.6V0H0z'/%3E%3Cpath fill='%23c5eebb' d='M181.8%2C259.4c98.2%2C6%2C191.9%2C35.2%2C281.3%2C72.1c2.8%2C1.1%2C5.5%2C2.3%2C8.3%2C3.4c171%2C71.6%2C342.7%2C158.5%2C531.3%2C207.7c198.8%2C51.8%2C403.4%2C40.8%2C597.3-14.8V0H0v283.2C59%2C263.6%2C120.6%2C255.7%2C181.8%2C259.4z'/%3E%3Cpath fill='%23d1f2c8' d='M1600%2C0H0v136.3c62.3-20.9%2C127.7-27.5%2C192.2-19.2c93.6%2C12.1%2C180.5%2C47.7%2C263.3%2C89.6c2.6%2C1.3%2C5.1%2C2.6%2C7.7%2C3.9c158.4%2C81.1%2C319.7%2C170.9%2C500.3%2C223.2c210.5%2C61%2C430.8%2C49%2C636.6-16.6V0z'/%3E%3Cpath fill='%23ddf5d6' d='M454.9%2C86.3C600.7%2C177%2C751.6%2C269.3%2C924.1%2C325c208.6%2C67.4%2C431.3%2C60.8%2C637.9-5.3c12.8-4.1%2C25.4-8.4%2C38.1-12.9V0H288.1c56%2C21.3%2C108.7%2C50.6%2C159.7%2C82C450.2%2C83.4%2C452.5%2C84.9%2C454.9%2C86.3z'/%3E%3Cpath fill='%23e8f8e4' d='M1600%2C0H498c118.1%2C85.8%2C243.5%2C164.5%2C386.8%2C216.2c191.8%2C69.2%2C400%2C74.7%2C595%2C21.1c40.8-11.2%2C81.1-25.2%2C120.3-41.7V0z'/%3E%3Cpath fill='%23f4fcf1' d='M1397.5%2C154.8c47.2-10.6%2C93.6-25.3%2C138.6-43.8c21.7-8.9%2C43-18.8%2C63.9-29.5V0H643.4c62.9%2C41.7%2C129.7%2C78.2%2C202.1%2C107.4C1020.4%2C178.1%2C1214.2%2C196.1%2C1397.5%2C154.8z'/%3E%3Cpath fill='%23ffffff' d='M1315.3%2C72.4c75.3-12.6%2C148.9-37.1%2C216.8-72.4h-723C966.8%2C71%2C1144.7%2C101%2C1315.3%2C72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.rotate-to-landscape {
  height: 110px;
  width: 70px;
  background-color: rgb(223, 223, 223);
  border: 4px solid #212121;
  border-radius: 10px;
  -webkit-animation-name: rotate; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(90deg)}
}

@-webkit-keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(90deg)}
}

/* Messaging Feature */

.message {
  padding: 10px !important;
}

.message:hover {
  cursor: pointer;
}

.ownMessage {
  float: right !important;
  text-align: right !important;
  background-color: #A5D6A7 !important;
  max-width: 50vw !important;
  word-wrap: break-word !important;
  border-radius: 25px 0px 25px 25px !important;
}

.someoneElseMessage {
  float: left !important;
  background-color: #EEEEEE !important;
  max-width: 50vw !important;
  word-wrap: break-word !important;
  width: inherit !important;
  border-radius: 0px 25px 25px 25px !important;
}

/* For mobile */

.mobile-signup-link {
  color: #388E3C !important;
  text-decoration: none !important;
}

.mobile-membership-question {
  color: rgb(72, 71, 71) !important;
  font-size: 4.5vw !important;
}

.mobile-button-login {
  height: 7vh !important;
  width: 85vw !important;
  border: 1px solid #4caf50 !important;
  border-radius: 25px !important;
  font-size: 15px !important;
  font-style: bold !important;
}

.mobile-title {
  font-size: 9vw !important;
  font-weight: 200 !important;
}

.mobile-subtitle {
  font-size: 4vw !important;
  font-weight: 100 !important;
}

.mobile-button-register {
  color: white !important;
  background-color: #4caf50 !important;
  height: 7vh !important;
  width: 85vw !important;
  border-radius: 25px !important;
  font-size: 15px !important;
  font-style: bold !important;
}

.mobile-background {
  background-color: #c4ffb9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23c4ffb9'/%3E%3Cstop offset='1' stop-color='%2393ff91'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
